<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.sys.dao.CustomerFormRelationMapper">
  <resultMap id="BaseResultMap" type="com.demo.domain.model.sys.entity.CustomerFormRelation">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CUSTOMER_FORM_ID" jdbcType="VARCHAR" property="customerFormId" />
    <result column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
</mapper>