<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.sys.dao.SysCustomerScreenFormMapper">
    <resultMap id="BaseResultMap" type="com.demo.domain.model.sys.entity.SysCustomerScreenForm">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="SCREEN_NAME" jdbcType="VARCHAR" property="screenName"/>
        <result column="SCREEN_JSON" jdbcType="BLOB" property="screenJson"/>
        <result column="INPUT_CODE" jdbcType="BLOB" property="inputCode"/>
        <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag"/>
        <result column="WHETHER_ENABLE" jdbcType="CHAR" property="whetherEnable"/>
        <result column="REMARKS" jdbcType="VARCHAR" property="remarks"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_AT" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>

    <select id="findDtoModelList" resultType="com.demo.domain.model.sys.dto.SysCustomerScreenFormDto">
        SELECT
        *
        FROM
        SYS_CUSTOMER_SCREEN_FORM
        WHERE
        DEL_FLAG = ${@com.demo.common.model.enums.DeleteStatusEnum@NO_ENUM.getCode() }
        <if test="tvo.id != null and tvo.id != ''">
            AND ID = #{tvo.id}
        </if>
        <if test="tvo.screenName != null and tvo.screenName != ''">
            AND SCREEN_NAME LIKE '%'||#{tvo.screenName}||'%'
        </if>
        <if test="tvo.remarks != null and tvo.remarks != ''">
            AND REMARKS = #{tvo.remarks}
        </if>
        <if test="tvo.whetherEnable != null and tvo.whetherEnable != ''">
            and WHETHER_ENABLE = #{tvo.whetherEnable}
        </if>
        <if test="tvo.screenNameOrInputCode != null and tvo.screenNameOrInputCode != ''">
            AND (SCREEN_NAME like '%'||#{tvo.screenNameOrInputCode}||'%' OR INPUT_CODE LIKE '%'||#{tvo.screenNameOrInputCode}||'%')
        </if>
    </select>
</mapper>